@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  max-width: 100%;
}
.room-img {
  height: 100%;
}

.book {
  margin-top: 20%;
  color: rgba(65, 64, 81, 0.95);
}

.book p {
  font-weight: 600;
}

.book span {
  font-size: 22px;
  color: rgba(65, 64, 81, 0.85);
}

.div-input {
  color: #414051;
}

.div-form {
  margin-top: 10%;
}

.div-label {
  color: #414051;
  font-size: 14px;
  font-weight: bold;
}

.btn-color {
  background: #30b9db;
  float: right;
}

@media only screen and (max-width: 600px) {
  .div-book {
    margin-left: 5%;
  }

  .book {
    color: whitesmoke;
  }

  .book span {
    color: whitesmoke;
  }

  .div-label {
    color: whitesmoke;
  }
}
/* dashbord css */
.dashboard {
  width: 100%;
  max-width: 100%;
  display: flex;
}
#sidebar {
  width: 20%;
  height: 68vh;
  background-color: #4c4a6c;
}
.one {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 15px;
  opacity: 0.7;
}
.two {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 15px;
  opacity: 0.7;
}
.dropit {
  margin-top: 105px;
  align-items: center;
  background-color: #4c4a6c;
  padding: 20px;
  border-top: 1px solid grey;
}
.logout {
  color: #4c4a6c;
  font-weight: bolder;
}
.side {
  display: flex;
  justify-content: space-between;
}
.content-d {
  width: 80%;
  float: right;
}
.rooms-d {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1024px) {
  .rooms-d {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .rooms-d {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .content-d {
    width: 100%;
  }
  #sidebar {
    display: none;
  }
  .side {
    display: flex;
    flex-wrap: wrap;
  }
  .side p {
    padding-left: 10px;
    margin: 5px;
  }
}
